<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @blog.title %>
</p>

<p>
  <strong>Blog text:</strong>
  <%= @blog.blog_text %>
</p>

<p>
  <strong>Bloguser:</strong>
  <%= @blog.bloguser_id %>
</p>

<%= link_to 'Edit', edit_blog_path(@blog) %> |
<%= link_to 'Back', blogs_path %>
