<p id="notice"><%= notice %></p>
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Students</h3>
  </div>
  <div class="panel-body">
    <div>
      <%= form_tag(students_path, method: "get") %>
      <%= label_tag(:searchterm, "Find by last name:") %>
      <%= text_field_tag(:searchterm) %>
      <%= submit_tag("Search") %>
    </div>
    <table class="table table-striped table-hover">
      <thead>
        <tr class="row">
          <th>Last Name</th>
          <th>First Name</th>
          <th>Enrollment Date</th>
          <th colspan="3"></th>
        </tr>
      </thead>
      <tbody>
      <% @students.each do |student| %>
        <tr class="row">
          <td><%= student.last_name %></td>
          <td><%= student.first_name %></td>
          <td><%= student.enrollment_date %></td>
          <td><%= link_to 'Show', student, :class => "btn-primary btn-sm" %></td>
          <td><%= link_to 'Edit', edit_student_path(student), :class => "btn-primary btn-sm"  %></td>
          <td><%= link_to 'Destroy', student,:class => "btn-warning btn-sm", method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
      </tbody>
    </table>
    <div class="pager pagination">
    <%= paginate @students %>
    </div>
  </div>
  <div class="panel-footer"><%= link_to 'New Student', new_student_path,:class => "btn-primary btn-sm"  %>
  </div>
</div>

