<p id="notice"><%= notice %></p>

<p>
  <strong>Username:</strong>
  <%= @person.username %>
</p>

<p>
  <strong>Provider:</strong>
  <%= @person.provider %>
</p>

<p>
  <strong>Uid:</strong>
  <%= @person.uid %>
</p>

<%= link_to 'Edit', edit_person_path(@person) %> |
<%= link_to 'Back', people_path %>
