<!DOCTYPE html>
<html>
<head>
  <title>Bookstore</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <p class="notice"<%= notice %></p>
  <p class="alert"<%= alert %></p>

  <% if student_signed_in? %>
    Signed in as <%= current_student.email %>. Not you?
    <%= link_to "Sign out", destroy_student_session_path, :method => :delete %>
  <% else %>
    <%= link_to "Sign Up", new_student_registration_path %>
  <% end %>

  <%= yield %>

</body>
</html>
