<p id="notice"><%= notice %></p>
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Instructors</h3>
  </div>
  <div class="panel-body">
    <table class="table">
      <thead>
        <tr class="row">
          <th>Last Name</th>
          <th>First Name</th>
          <th>Hire Date</th>
          <th colspan="3"></th>
        </tr>
      </thead>
        <tbody>
      <% @instructors.each do |instructor| %>
        <tr class="row">
          <td><%= instructor.last_name %></td>
          <td><%= instructor.first_name %></td>
          <td><%= instructor.hire_date %></td>
          <td><%= link_to 'Show', instructor,:class => "btn-primary btn-sm" %></td>
          <td><%= link_to 'Edit', edit_instructor_path(instructor),:class => "btn-primary btn-sm" %></td>
          <td><%= link_to 'Destroy', instructor,:class => "btn-warning btn-sm", method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  </div>
  <div class="panel-footer"><%= link_to 'New Instructor', new_instructor_path,:class => "btn-primary btn-sm"  %>
  </div>
</div>
