<%= form_for(@assignment_grade) do |f| %>
  <% if @assignment_grade.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@assignment_grade.errors.count, "error") %> prohibited this assignment_grade from being saved:</h2>

      <ul>
      <% @assignment_grade.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :assignment %><br>
    <%= f.text_field :assignment %>
  </div>
  <div class="field">
    <%= f.label :letter_grade %><br>
    <%= f.text_field :letter_grade %>
  </div>
  <div class="field">
    <%= f.label :percent_grade %><br>
    <%= f.text_field :percent_grade %>
  </div>
  <div class="field">
    <%= f.label :student_id %><br>
    <%= f.text_field :student_id %>
  </div>
  <div class="field">
    <%= f.label :course_id %><br>
    <%= f.text_field :course_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
